<!-- Header for views-->

<html>
    <head>
        <title>Blog App</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    </head>
    <body>
       <div class="ui fixed inverted menu" id="nav">
           <div class="ui container">
               
               <div class="header item" ><i class="hand rock outline icon"></i>Anime Central</div>
                  <a href="/blogs" class="item">Home</a>
                  <a href="/users" class="item">Users</a>
           <a href="/blogs/new" class="item">New Character</a>
           <a href="/" class="item">Log Out</a>
               
               
           </div>
           
        
           
           
       </div>
        
        
