<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<div id="loginform">

<h1 id="logoName"><i id="logo" class="hand rock outline icon"></i> Anime Central </h1>

<form id="login" class="ui form" action="/login" method="POST">
    
    
    <input id="uform" type="text" name="username" placeholder="Username" required>
    <input id="pform" type="password" name="password" placeholder="Password" required>
    <input id="sbutton" type="submit"  class="ui black button" name="submit" value="Log In">
    
    
    
</form>

</div>








<% include ./partials/footer %>