<% include ./partials/header %>




<h1 style="margin-top: 7rem;"> Welcome To Anime Central!</h1>



    
<% include ./partials/footer %>
    
    
    
    
    
    <!-- Confirmation/Secret page that when signing in or signing up--> 