<% include ./partials/header %>


<!--for every user in the users collection print it out in the html format below-->
<% users.forEach(function(user){%>
<div id="blog">
    <h2><%= user.username%></h2>
    
    
    
   
</div>
    <% }) %>
    
    <% include ./partials/footer %>
    
    
    
    
    
    <!-- Page that displays all of the users --> 