
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">

<div id="loginform">

<h1 id="logoName"><i id="logo" class="hand rock outline icon"></i> Anime Central </h1>


<ul id="startButtons">
<li>
<a href="/register" class="ui black button">Sign up</a>
</li>
<li>
 <a href="/login" class="ui black button">Login</a>   
</li>
<li>
 <a href="#" class="ui gray button">Forgot Password?</a>   
</li>
</ul>

</div>








<% include ./partials/footer %>